<!-- Start Header Area -->
<header id="navbar" class="default-header">

    <nav class="navbar navbar-expand-md bg-light navbar-light justify-content-right">
        <!-- Brand -->
        <a class="navbar-brand" href="#home">undlos.blog</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#travel" (click)="showHomePageAndToggleNavbar()">Reiseleben Hier &#38; Jetzt</a></li>
                <li class="nav-item"><a class="nav-link" href="#earlytravel" (click)="showHomePageAndToggleNavbar()">Unsere bisherigen Reisen</a></li>
                <li class="nav-item"><a class="nav-link" href="#inspiration" (click)="showHomePageAndToggleNavbar()">Inspiration &#38; Gedanken</a></li>
                <li class="nav-item"><a class="nav-link" href="#whoweare" (click)="showHomePageAndToggleNavbar()">Wer wir sind</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact" (click)="showHomePageAndToggleNavbar()">Kontakt</a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- End Header Area -->

<!-- start banner Area -->
<section id="home" class="home-bg" *ngIf="isOverview">
    <div class="container">
        <div class="row justify-content-center">
            <div class="banner-content d-flex align-items-top col-lg-12 col-md-12">
                <h2>
                    <font color="#ffffff">Reiseblog</font>
                    <br>
                    von Erik und Resi
                </h2>
            </div>
            <div class="head-bottom-meta d-flex justify-content-between align-items-end col-lg-12">
                <div class="col-lg-6 flex-row d-flex meta-left no-padding">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start travel Area -->
<section class="travel-area section-gap" id="travel" *ngIf="isOverview">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <ul class="navbar-nav">
                        <li><a href="#travel">Reiseleben Hier &#38; Jetzt</a></li>
                    </ul>
                    <h2 class="mb-10">Zu Fuss von Zürich nach Italien</h2>
                    <p>Nun haben wir über ein ganzes Jahr in Zürich gelebt und wirklich wenig von der Schweiz gesehen.
                        Das soll sich nun ändern! Wie könnte man ein Land besser kennenlernen als es zu Fuss zu bereisen?
                    Genau das haben wir uns zu unserem ersten Ziel gemacht: Einmal durch die Schweiz bis nach Italien wandern! Und los!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 travel-left" *ngFor="let blogEntry of evenCategoryTravelBlogEntries">
                <div class="single-travel media pb-70" >
                    <img class="img-fluid d-flex mr-3 thumbnail-picture"
                         [src]="createImageUrlFor(blogEntry)" alt="{{blogEntry.title}}"
                    (click)="showBlogEntry(blogEntry)">
                    <div class="dates">
                        <span>{{blogEntry.date.getDate()}}</span>
                        <p>{{blogEntry.date.toLocaleString("de", { month: "short" })}}</p>
                    </div>
                    <div class="media-body align-self-center">
                        <h4 class="mt-0"><a href="#" (click)="showBlogEntry(blogEntry)">{{blogEntry.title}}</a></h4>
                        <p>{{blogEntry.shortDescription}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 travel-right" *ngFor="let blogEntry of oddCategoryTravelBlogEntries">
                <div class="single-travel media pb-70">
                    <img class="img-fluid d-flex mr-3 thumbnail-picture"
                         [src]="createImageUrlFor(blogEntry)" alt="{{blogEntry.title}}"
                         (click)="showBlogEntry(blogEntry)">
                    <div class="dates">
                        <span>{{blogEntry.date.getDate()}}</span>
                        <p>{{blogEntry.date.toLocaleString("de", { month: "short" })}}</p>
                    </div>
                    <div class="media-body align-self-center">
                        <h4 class="mt-0"><a href="#" (click)="showBlogEntry(blogEntry)">{{blogEntry.title}}</a></h4>
                        <p>{{blogEntry.shortDescription}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End travel Area -->

<!-- Start alte Reiseberichte Area -->
<section class="fashion-area section-gap" id="earlytravel" *ngIf="isOverview">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <ul class="navbar-nav">
                        <li><a href="#early-travel">Unsere bisherigen Reisen</a></li>
                    </ul>
                    <h1 class="mb-10">Ein bunter Mix von Reiseberichten</h1>
                    <p>Ein bunter Mix von Reiseberichten
                        Angefangen von unserem Kennlernland Neuseeland, über unsere ersten gemeinsamen Reiseerfahrungen in Südostasien, Stories über unser Moped Knut dass uns über mehrere Grenzen gebracht hat, vom Surfen, Yoga, der Transsibirischen Eisenbahn, Kängurus und Aborigines in Australien…& die Welt.
                        Lässt sich gut lesen als Klobroschüre, während der Bahnfahrt oder zum einander Vorlesen.
                        Diese Kategorie wird nach und nach noch wachsen. Gerne wollen wir nachträglich aus unseren Notizen noch all unsere Erlebnisse zu Papier bringen.
                        Es ist eine schöne Erinnerung die es uns immer wieder möglich macht in alten Zeiten zu schwelgen und zurück zu blicken - auch in 10,20… Jahren noch.
                        Viel Spass beim Lesen und Schmunzeln!
                        Solltet ihr einmal in die genannten Länder reisen, stehen wir euch sehr gern für Tipps und Anregungen zur Verfügung :-)!
                    </p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" [attr.data-slide-to]="index"
                            [ngClass]="{active : categoryEarlyTravelBlogEntries[index] === blogEntry}"
                            *ngFor="let blogEntry of categoryEarlyTravelBlogEntries; let index = index;">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item" [ngClass]="{ active: first}"
                             *ngFor="let blogEntry of categoryEarlyTravelBlogEntries; let first = first;">
                            <img class="d-block w-100" [src]="createImageUrlFor(blogEntry)" alt="{{blogEntry.title}}">
                            <div class="carousel-caption d-md-block">
                                <p class="carousel-title" (click)="showBlogEntry(blogEntry)">{{blogEntry.title}}</p>
                                <p class="carousel-description" (click)="showBlogEntry(blogEntry)">{{blogEntry.shortDescription}}</p>
                                <a href="#" (click)="showBlogEntry(blogEntry)" class="btn btn-primary">Zum Eintrag</a>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End alte Reiseberichte Area -->

<!-- Start inspiration Area -->
<section class="travel-area section-gap" id="inspiration" *ngIf="isOverview">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <ul class="navbar-nav">
                        <li><a href="#inspiration">Inspirationen &#38; Gedanken</a></li>
                    </ul>
                    <h1 class="mb-10">Gedankenkarussell</h1>
                    <p>Täglich läuft es rauf und runter das Gedankenkarussell.
                        Es dreht sich um so viele Themen, mal um das Leben, mal um Entscheidungen die einem bevorstehen, mal um Menschen an die man denkt, über die Arbeit, über Situationen die passiert sind, ums Essen, um die Liebe...
                        Wenn dieses Karussell mal still steht, geniesst man es ganz besonders.
                        Dann trifft genau der Moment ein in dem der Kopf frei ist und man geniessen kann.
                        Den Moment will man dann gern festhalten.
                        Aber manchmal freut man sich auch Gedanken mit anderen zu teilen, sich inspirieren zu lassen und Dinge auch mal aus einer anderen Perspektive sehen zu können.
                        Gedankenwelt und Inspiration soll euch teilhaben lassen an unseren Gedankenkarussellen und Menschen,Momente & Dinge die uns inspirieren.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 travel-left" *ngFor="let blogEntry of evenCategoryInspirationBlogEntries">
                <div class="single-travel media pb-70" >
                    <img class="img-fluid d-flex mr-3 thumbnail-picture" [src]="createImageUrlFor(blogEntry)" alt="{{blogEntry.title}}">
                    <div class="dates">
                        <span>{{blogEntry.date.getDate()}}</span>
                        <p>{{blogEntry.date.toLocaleString("de", { month: "short" })}}</p>
                    </div>
                    <div class="media-body align-self-center">
                        <h4 class="mt-0"><a href="#" (click)="showBlogEntry(blogEntry)">{{blogEntry.title}}</a></h4>
                        <p>{{blogEntry.shortDescription}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 travel-right" *ngFor="let blogEntry of oddCategoryInspirationBlogEntries">
                <div class="single-travel media pb-70">
                    <img class="img-fluid d-flex mr-3 thumbnail-picture" [src]="createImageUrlFor(blogEntry)" alt="{{blogEntry.title}}">
                    <div class="dates">
                        <span>{{blogEntry.date.getDate()}}</span>
                        <p>{{blogEntry.date.toLocaleString("de", { month: "short" })}}</p>
                    </div>
                    <div class="media-body align-self-center">
                        <h4 class="mt-0"><a href="#" (click)="showBlogEntry(blogEntry)">{{blogEntry.title}}</a></h4>
                        <p>{{blogEntry.shortDescription}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End alte inspiration Area -->

<!-- Start Resi und Erik Area -->
<section class="fashion-area section-gap" id="whoweare" *ngIf="isOverview">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <ul class="navbar-nav">
                        <li><a href="#whoweare">Wer wir sind</a></li>
                    </ul>
                    <h1 class="mb-30">Resi und Erik</h1>
                    <p>Hier findet Ihr unseren Steckbrief und eine kleine Geschichte, die davon erzählt, wie das eigentlich alles angefangen hat mit uns und dem Reisen.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-4 col-sm-6 col-12 px-5 mt-2" *ngFor="let blogEntry of categoryWhoWeAreBlogEntries">
                <div class="card">
                    <img class="card-img-top" [src]="createImageUrlFor(blogEntry)" alt="{{blogEntry.title}}" style="width:100%; height: auto">
                    <div class="card-body text-truncate">
                        <h4 class="card-title">{{blogEntry.title}}</h4>
                        <p class="card-text">{{blogEntry.shortDescription}}</p>
                        <a href="#" (click)="showBlogEntry(blogEntry)" class="btn btn-primary">Zur Beschreibung</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End team Area -->

<!-- The Modal/Lightbox -->
<section *ngIf="!isOverview" style="display: inline-block">
    <div id="myModal" class="modal">
        <span class="close cursor" (click)="closeModal()">&times;</span>
        <div class="modal-content">

            <div class="mySlides" *ngFor="let imageUrl of currentBlogEntryGalleryUrls; let index = index;">
                <div class="numbertext">{{index}} / {{currentBlogEntryGalleryUrls.length}}</div>
                <img class="demo" [src]="imageUrl" style="width:100%">
            </div>

            <!-- Next/previous controls -->
            <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
            <a class="next" (click)="plusSlides(1)">&#10095;</a>

            <!-- Caption text -->
            <div class="caption-container">
                <p id="caption"></p>
            </div>

            <!-- Thumbnail image controls -->
            <!--
            <div class="column" *ngFor="let imageUrl of currentBlogEntryGalleryUrls">
                <img class="demo" style="height: 50px" [src]="imageUrl" (click)="currentSlide(1)" alt="image">
            </div>
    -->
        </div>
    </div>
</section>
<!-- Start blog entry Area -->
<div class="post-wrapper pt-100" *ngIf="!isOverview && !isGallery">
    <!-- Start post Area -->
    <section class="post-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="single-page-post">
                        <img class="img-fluid" [src]="createImageUrlFor(currentBlogEntry)" alt="">
                        <div class="top-wrapper ">
                            <div class="row d-flex justify-content-between">
                                <h2 class="col-lg-8 col-md-12 text-uppercase">
                                    {{currentBlogEntry.title}}
                                </h2>
                                <div class="col-lg-4 col-md-12 right-side d-flex justify-content-end">
                                    <div class="desc">
                                        <h2>{{currentBlogEntry.author}}</h2>
                                        <h3>{{currentBlogEntry.date.toLocaleString("de", { month: "short", day: "2-digit", year:"2-digit" })}}</h3>
                                    </div>
                                    <div class="user-img">
                                        <!--<img src="" alt="">-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="tags">
                            <ul>
                                <li><a href="#">Zürich</a></li>
                                <li><a href="#">Leben</a></li>
                                <li><a href="#">Reisen</a></li>
                            </ul>
                        </div>
                        -->
                        <div class="single-post-content e2e-inner-html-bound" [innerHtml]="currentBlogEntryText">
                        </div>
                        <div class="bottom-wrapper">
                            <div class="row">
                                <div class="col-lg-4 single-b-wrap col-md-12">
                                </div>
                                <div class="col-lg-4 single-b-wrap col-md-12">
                                </div>
                                <div class="col-lg-4 single-b-wrap col-md-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="section-top-border">
                    <h3 *ngIf="currentBlogEntryGalleryUrls.length > 0">Galerie</h3>
                    <div class="row gallery-item">
                        <div class="col-md-4"
                             *ngFor="let imageUrl of currentBlogEntryGalleryUrls; let index=index; let o=odd; let e=even;"
                        (click)="openModal(); currentSlide(index)">
                            <!--<a [href]="imageUrl" class="img-pop-up">-->
                                <div class="single-gallery-image" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}">
                                    <!--
                                    <img class="gallery-image" [src]="imageUrl"/>
                                    -->
                                </div>
                            <!--</a>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
<!-- End blog entry Area -->


<!-- start footer Area -->
<footer class="footer-area section-gap" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-12">
                <div class="single-footer-widget">
                    <h6>Kontakt</h6>
                    <p>
                        Für Feedback, Fragen oder Kontakt erreicht Ihr uns unter:
                        <br/>
                        <a href="mailto:erik@undlos.blog" target="_top">erik@undlos.blog</a>
                        <br/>
                        oder
                        <a href="mailto:resi@undlos.blog" target="_top">resi@undlos.blog</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p class="col-lg-8 col-sm-12 footer-text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="col-lg-4 col-sm-12 footer-social">
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between">
            <a href="#" (click)="toggleAdmin()" style="color: #222222">admin</a>
        </div>
    </div>
</footer>
<!-- End footer Area -->
