<!-- Start Header Area -->
<header class="default-header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#news">Aktuelles</a></li>
                    <li><a href="#travel">Reiseleben</a></li>
                    <li><a href="#cooking">Wie alles begann</a></li>
                    <li><a href="#travel">Inspiration & Gedanken</a></li>
                    <li><a href="#us">Wer wir sind</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End Header Area -->

<!-- start banner Area -->
<section class="banner-area relative" id="home" data-parallax="scroll" data-image-src="">
    <div class="overlay-bg overlay"></div>
    <div class="container">
        <div class="row fullscreen">
            <div class="banner-content d-flex align-items-top col-lg-12 col-md-12">
                <h2>
                    <font color="#ffffff">Reiseblog</font>
                    <br>
                    von Erik und Resi
                </h2>
            </div>
            <div class="head-bottom-meta d-flex justify-content-between align-items-end col-lg-12">
                <div class="col-lg-6 flex-row d-flex meta-left no-padding">

                </div>

            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->


<!-- Start category Area -->
<section class="category-area section-gap" id="news">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Hier findest du die letzten Einträge aus allen Kategorien</h1>
                    <p></p>
                </div>
            </div>
        </div>
        <ngb-carousel>
            <ng-template *ngFor="let blogEntry of blogEntries" ngbSlide>
                <img [src]="createImageUrlFor(blogEntry)" alt="Random first slide">
                <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>
			<!-- End category Area -->

<!-- Start travel Area -->
<section class="travel-area section-gap" id="travel">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Unsere Reise sektion</h1>
                    <p>Alles was sich ums Reisen dreht findest du hier.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 travel-left">
                <div class="single-travel media  pb-70">
                    <a href="goodbyezuerich.html">
                        <img class="img-fluid d-flex  mr-3" src="" alt="">
                    </a>
                    <div class="dates">
                        <span>20</span>
                        <p>Dec</p>
                    </div>
                    <div class="media-body align-self-center">
                        <h4 class="mt-0"><a href="goodbyezuerich.html">Auf Wiedersehen Zürich</a></h4>
                        <p>Nach über einem Jahr im wunderschönen Zürich geht es nun pünktlich am 01.06.2018 wieder los für uns Zwei ...</p>
                        <div class="meta-bottom d-flex justify-content-between">
                            <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                            <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 travel-right">
                <div class="single-travel media pb-70">
                    <img class="img-fluid d-flex  mr-3" src="" alt="">
                    <div class="dates">
                        <span>20</span>
                        <p>Dec</p>
                    </div>
                    <div class="media-body align-self-center">
                        <h4 class="mt-0"><a href="#">3000 Meter hoch ragt der Rinjani in den Himmel auf der Insel Lombok</a></h4>
                        <p>Diese Wanderung hat uns einiges an Kraft gekostet. Drei Tage und zwei Nächte haben wir auf dem Vulkan am Feuerring verbracht ...</p>
                        <div class="meta-bottom d-flex justify-content-between">
                            <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                            <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                        </div>
                    </div>
                </div>
                <a href="#" class="primary-btn load-more pbtn-2 text-uppercase mx-auto mt-60">Load More </a>
            </div>
        </div>
    </div>
</section>
<!-- End travel Area -->

<!-- Start fashion Area -->
<section class="fashion-area section-gap" id="cooking">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Wie alles begann</h1>
                    <p>Das Reisen fing bei uns bereits 2011 an. Seit dem sind wir immer wieder unterwegs...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 single-fashion">
                <img class="img-fluid" src="" alt="">
                <p class="date">10 Jan 2018</p>
                <h4><a href="#">Resis Prokka </a></h4>
                <p>
                    Mit Buchweizen und Dinkel what weiss ich ....
                </p>
                <div class="meta-bottom d-flex justify-content-between">
                    <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                    <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End fashion Area -->

<!-- Start Resi und Erik Area -->
<section class="team-area section-gap" id="us">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Resi und Erik</h1>
                    <p>die Veganen Weltenbummler</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-lg-6 team-left">
                <p>
                    Hier stellen wir uns mal vor und schreiben, was wir so machen.
                </p>
            </div>
            <div class="col-lg-6 team-right d-flex justify-content-center">
                <div class="row">
                    <div class="single-team">
                        <div class="thumb">
                            <img class="img-fluid" src="" alt="">
                            <div class="align-items-center justify-content-center d-flex">
                            </div>
                        </div>
                        <div class="meta-text mt-30 text-center">
                            <h4>Resi und Erik</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End team Area -->

<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-12">
                <button (click)="toggleAdmin()" id="bt">
                    Admin
                </button>
            </div>
            <div class="col-lg-6  col-md-12">

            </div>

        </div>

        <div class="row footer-bottom d-flex justify-content-between">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p class="col-lg-8 col-sm-12 footer-text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->
