
/* ==========================================================================
Main page styles
========================================================================== */
*[parallax] {
    width: 100%;
    height: 100%;
    background-size: 100%;
}

#home {
    background-image: url('../../content/img/header-bg.jpg');
}

.carousel-picture {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.thumbnail-picture {
    width: 50%;
    background-size: contain;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .carousel-picture {
        background: no-repeat center top;
        background-size: contain;
    }
}

@media (min-width: 400px) {
    .carousel-container {
        max-width: 800px;
    }
}

